center {
  .ok {
    border-radius: 1.375rem 0px;
    height: 2.75rem;
    border: 1px #e1514c solid;
    background: #e1514c;
    width: 90%;
    font-size: 1rem;
    margin: 2rem auto 0;
    color: white;
  }
}
